<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="dllFilePath" value="c:\playdll\ClassLibrary2.dll" />
    <add key="methodsToAdd" value="ImagineaSampleDLL.ImagineaSampleClassOne.returnObjectBackTrial(ImagineaSampleDLL.ImagineaSampleClassThree objectAtHand)~a.b;ImagineaSampleDLL.ImagineaSampleClassTwo.returnTheNumber8()~c.d" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>